* {
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #33475a;
    --secondary-color: #5aa2e9;
    --ternary-color: #b7b7b7;
}

body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif
}

.header-title {
    text-align: center;
    font-size: 2.0rem;
    color: white;
    padding: 8px 0px 16px 0px;

}

.header-background {
    background: linear-gradient(.25turn, #3b6ec4, #230455);
}

.main-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-end-main {
    justify-content: flex-end;
}

.form-div {
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.form {
    width: 50%;
    flex-grow: 1;
}

.search-history {
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}

.search-history-border {
    border-top: 2px solid #6f6f6f;
    border-bottom: 2px solid #6f6f6f;
}

.search-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.current-title {
    font-size: 1.8rem;
    font-weight: bold;
    display: inline-block;
}

.current-icon {
    width: auto;
    height:50px;
    position: absolute;
    top: -7px;
}

.input {
    padding: 12px 0px 12px 10px;
    margin: 10px 0px;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
    font-size: 1rem;
    width: 95%;
}

.input:focus {
    outline: none;
    border: 2px solid var(--secondary-color);
}

.btn {
    background-color: var(--secondary-color);
    color: #ddebeb;
    padding: 8px 0px 6px 0px;
    margin: 6px 0px;
    border-style: none;
    border-radius: 4px;
    display: block;
    width: 100%;
    transition: background-color 300ms ease-in-out;
    box-shadow: 0px 3px grey;
    top: -3px;
    position: relative;
    cursor: pointer;
}

.history-btn {
    background-color: #b7b7b7;
    color: #373737;
    padding: 10px 0px 6px 0px;
    margin: 14px 0px;
    border-style: none;
    border-radius: 4px;
    display: block;
    width: 100%;
    transition: background-color 300ms ease-in-out;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.delete-btn {
    background-color: #e95a5a;
    color: #ddebeb;
    padding: 8px 0px 6px 0px;
    margin: 16px 0px;
    border-style: none;
    border-radius: 4px;
    display: block;
    width: 100%;
    transition: background-color 300ms ease-in-out;
    box-shadow: 0px 3px grey;
    top: -3px;
    position: relative;
    cursor: pointer;
}

.btn:hover, .delete-btn:hover {
    box-shadow: 0 2px grey;
    top: -2px;
}

.btn:active, .delete-btn:active {
    box-shadow: 0 0px grey;
    top: 0px;
}

.all-weather {
    width: 60%;
    margin-right: 10%;
    display: none;
}

.show-all-weather {
    display: block;
}

.all-search {
    width: 300px;
}

.current-weather {
    display: flex;
    margin: 10px 20px 10px 20px;
    padding: 10px 10px 10px 6px;
}

.weather-data-div {
    position: relative;
}

.current-weather-border {
    border: 1px solid black;
}

.current-weather-info {
    font-size: 1rem;
    margin: 16px 0px 12px 0px;
    font-weight: 500;
}

.uv-index {
    background-color: #157e51;
    font-size: .8rem;
    color: white;
    padding: 4px 12px;
    border-radius: 6px;
}

.forecast-title {
    font-size: 1.4rem;
    display: block;
}

.forecast-weather {
    display: flex;
    margin: 10px 10px;
    padding: 10px;
    flex-direction: column;
}

.forecast-data-div {
    background-color: var(--primary-color);
    width: 17%;
    color: white;
    min-width: 121px;
    margin-bottom: 10px;
}

.forecast-data-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.forecast-date {
    font-size: 1.2rem;
    padding: 8px 6px 0px 6px;
    font-weight: bold;
}

.forecast-icon {
    width: auto;
    height:50px;
}

.forecast-weather-info {
    font-size: 1rem;
    margin-bottom: 16px;
    font-weight: 500;
    padding: 2px 6px;
}

@media screen and (max-width: 1082px) {
    .all-search {
        width: 270px;
    }
}

@media screen and (max-width: 980px) {
    .main-container {
        justify-content: center;
    }

    .all-search {
        width: 50%;
    }

    .all-weather {
        width: 90%;
        margin: 0px;
    }

    .form-div {
        justify-content: center;
        margin: 10px 0px 0px 0px;
    }

    .search-history {
        justify-content: center;
    }

    .input {
        width: 98%;
    }
}

@media screen and (max-width: 768px) {
    .all-search {
        width: 60%;
    }
}